* {
    font-family: 'Lato', sans-serif;
    /* display: flex;
    flex-direction: column;
    justify-content: center */
}

html { 
    box-sizing: border-box;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 33%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* login screen */

#login-screen {
    width: 100%;
}

#title {
    padding: 25px;
    font-size: 50px;
    display: flex;
    justify-content: center;
}

.login-text {
    margin: 5px;
    padding: 5px;
    width: 33%;
    height: 25px
}

.login-screen-buttons {
    padding: 25px;
    margin: 5px;
    width: 33%;
    height: 25px
}

#login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    width: 100%
}

#password-checkbox {
    display: block;

}

/* profile screen */

#profile-screen {
    
}

h2 {
    display: flex;
    justify-content: center
}

#user-name {
    width: 100%;
    margin: 10px
}

#age-slider, #weight-slider, #height-slider {
    width: 100%;
    margin: 10px
}

/* home-screen */

#home-screen {
    
}

/*activity-screen*/
#activity-screen {
    
}

/*meal-screen*/
#meal-screen {
    
}

.activity-level {
    margin: 10px;
}

#profile-submit {
    margin: 10px
}

/*meal search drop-down*/

